
    <!--content starts here-->
    <div class="container container-top">
        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Nodeigniter</h1>
                    <p>Welcome to the fast and flexible ignition framework for node developers</p>
                    <p>Version 1.0</p>
                
                <h2>Features:</h2>
                    <ul>
                        <li>Custom routing</li>
                        <li>Asynchronous module loading</li>
                        <li>Built in with different helpers and libraries</li>
                        <li>Localize helper functions for view rendering</li>
                        <li>Use connect middleware</li>
                        <li>Customize it according to your needs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
